# App directory structure
logs/
*.log.txt
screenshots/
release/
dist/
docs/Fuzzy/
lib-cov/
.tscache/
node_modules/
reports/

# Builds
*.o
*.so

# OS
.DS_Store
Thumbs.db

# IDE
**/.idea/*
!.idea/runConfigurations

# Word
~$*.docx
