$icons-path: '~ag-grid-community/src/styles/material-icons/';

$cell-horizontal-padding: 6px;
$cell-horizontal-border: 1px solid #ddd;

$header-background-color: #fff;
$header-background-image: none;
$secondary-foreground-color: #000;
$secondary-font-weight: 600;

$font-family: 'Helvetica Neue', sans-serif;

$hover-color: #efefef;

@import '~ag-grid-community/src/styles/ag-grid';
@import '~ag-grid-community/src/styles/ag-theme-fresh';
