body {
  position: relative;
  height: 100vh;
  background: $color-background;
  font-family: $font, sans-serif;
  font-size: $dimen-text;
  overflow-y: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: $dimen-text-header;
}

a {
  cursor: pointer;
  text-decoration: none;
}
