@font-face {
  font-family: "Fira Code";
  src: url(../assets/fonts/FiraCode-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: "Fira Code";
  src: url(../assets/fonts/FiraCode-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Fira Code";
  src: url(../assets/fonts/FiraCode-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Fira Code";
  src: url(../assets/fonts/FiraCode-Bold.ttf);
  font-weight: 700;
}
body {
  user-select: none;
  cursor: default;
  margin: 0;
}

#app {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.CodeMirror {
  height: 100%;
  font-family: "Fira Code", monospace;
}
